{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} InstOgram {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
</head>
<body>
    <main>
        <iframe src="https://images.unsplash.com/photo-1606787366850-de6330128bfc?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" name="imgbox" id="imgbox">
            <p>iframes are not supported by your browser.</p>
         </iframe><br />
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>

<!-- 

  {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
</head>
<body>
    {% block content %}

<h1>
    Template homepage
</h1>
<img src="{% static 'images/img1.png' %}" alt="in">

<form action="Get_Post" method="POST">
    {% csrf_token %}

    Enter URL  : <input type="text" name="msg" placeholder="eg: @_tancodes_">
    <input type="submit" value="GET PROFILE PIC" >
</form>

{% if result %}
   
    <button class="btn btn-success" onclick=" window.open('{{result}}','_blank')"> DOWNLOAD </button>

{% endif %}

{% endblock %} 
</body>
</html>
 -->


<!-- 
    <form class="row g-1" action="Get_Profile_Pic" method="POST">
    {% csrf_token %}
    <div class="col-auto">
      <label for="staticEmail2" class="visually-hidden">Email</label>
      <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Enter Username">
    </div>
    <div class="col-auto">
      <label for="inputPassword2" class="visually-hidden" width="200px">eg: @_tancodes_</label>
      <input type="text" class="form-control" id="Username" name="msg" placeholder="Password">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Get Profile pic</button>
    </div>
  </form>
  {% if result %}
    <a href="{{result}}" target="_blank">{{result}}</a>
    {% endif %}
</div>
 -->